# FB API - buat fb_Steaming.html
FB_APP_ID=1555290985525756
FB_APP_TOKEN=1555290985525756|uXDjb4J4_wPk1d5FCmnS6dmX_wc
FB_API_VERSION=v26.0

# MUTT API - beda, jangan pakai FB_APP_ID
MUTT_API_KEY=
MUTT_API_URL=

PORT=3000
