node_modules/
.env
*.log
auth_alwi/
gambar/
icon-*.png
meta_alwi_transparent.png
Indramayu_nur/
meta/meta_index.html
meta/sever.html
meta/video-drive.html
meta/template-*.html
BACKUP-HTML-*.tar.gz
meta/meta_index.html
meta/sever.html
meta/video-drive.html
meta/template-*.html
BACKUP-HTML-*.tar.gz
*.bak
*.bak-sync
*.bak-lama
*.zip
*.bak-mic
