# FB API - buat fb_streaming.html
VITE_FB_APP_ID=2055539978374338
FB_APP_ID=2055539978374338
FB_APP_TOKEN=2055539978374338|uXDjb4J4_wPk1d5FCmnS6dmX_wc
FB_API_VERSION=v20.0

# MUTT API - beda, jangan pakai FB_APP_ID
MUTT_API_KEY=
MUTT_API_URL=

PORT=3000

